body{
  background-color: pink;
  font: "Courier New";
  font-size: 18px;
}
img {
	margin: 20px;
	padding: 20px;
	border: 5px #00CED1;
    border-style: solid;
    border-radius: 10px;
}

footer {
	display: inline-block;
	padding: 10px;
	margin: 20px;
	border: dotted #00CED1;
}

a:visited {
    color: Red;
}

#Opinion{
	text-align: center;
	color: blue;
}

